// Värvid - nüüd sügavamad ja tekstureeritumad
$cool-green: #1a2521; // Tume, mossy roheline
$cool-copper: #d35400; // Soe vasekarva oranž
$text-light: #ecf0f1;
$shadow-color: rgba(0, 0, 0, 0.4);
$primary-glow: rgba(46, 204, 113, 0.3); // Smaragdroheline sära

// Muud
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$border-radius-hex: 15px; // Suurem nurgaraadius kuusnurkade jaok